
.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: "Sen", sans-serif;
    font-weight: 800;
    font-style: bold;
}

.menu-wrap .menu{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
}

.menu-wrap .toggler:checked ~ .menu {
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(2px);
    transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    cursor: pointer;
    width: 8vh;
    height: 8vh;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger >div {
    position: relative;
    width: 100%;    
    height: 5px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 10;
    top: -10px;
    width: 100%;
    height: 5px;
    background: inherit;
}


/* Moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
    height: 10px;
    background-color: var(--OT-RED);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
    height: 10px;
    transition: background-color 0.4s ease;
    background-color: var(--OT-RED);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.div {
    background-color: var(--Glass-OT-WHITE);
    backdrop-filter: blur(10px);
    border-radius: 0 4% 4% 0;
    width: 50vh;
    height: 100vh;
    display: flex ;
    flex: none;
    align-items: left;
    justify-content: left;
    transform: scale(0); 
    transform-origin: top left;
    transition: all 0.4s ease;
    
}

div.div.darkdiv {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    border-radius: 0 4% 4% 0;
    width: 50vh;
    height: 100vh;
    display: flex ;
    flex: none;
    align-items: left;
    justify-content: left;
    transform: scale(0); 
    transform-origin: top left;
    transition: all 0.4s ease;
}
.menu-wrap .toggler:checked ~ .darkMenu {
    background-color: transparent !important;
    backdrop-filter: blur(5px) !important;
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}
.menu-wrap .toggler:not(:checked) ~ .darkMenu {
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}


.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0; 
    transition: opacity 0.4s ease;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    font-size: 1.5rem;
    padding: 1rem;
}







.MenuLink {
    text-decoration: none;
    color:var(--OT-BLUE);
    font-size: 5rem;
    font-weight: 800;
    font-weight: bold;
}
.darkMenuLink {
    text-decoration: none;
    color:var( --OT-YELLOW);
    font-size: 5rem;
    font-weight:800;
    font-weight: bold;
    backdrop-filter: blur(30px);
}

.MenuLink:hover {
    color: var(--OT-GREEN);
}

.ui-switch {
    position: fixed;
    right: 10%;
    top: 3%;
    /* switch */
    --switch-bg: rgb(255, 255, 255);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: var(--Deep-blue);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  .circle:active {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    background: var(--Amethyst);
  }
  
  .circle:hover {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--Amethyst);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }
  


@media screen and (max-width: 768px){


    .ui-switch {
        position: fixed;
        right: 10% !important;
        left: initial;
        top: 4%;
      }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .MenuLink {
        text-decoration: none;
        color:var(--Coral-red);
        margin: 0;
        padding: 0 ;
    }

    .menu-wrap .menu > div{
        background-color: var(--Glass-White);
        border-radius: 0% !important;
        width: 100vw !important;
        height: 100vh !important;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0); 
        transition: all 0.4s ease;
        margin: 0;
        padding: 0;
    }

    .menu-wrap .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
         visibility: hidden; 
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .menu > div{
        background-color: var(--Glass-White);
        backdrop-filter: blur(11px) !important;
        border-radius: 0%;
        width: 100vw  !important;
        height: 100vh !important;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
         transform: scale(0); 
        transition: all 0.4s ease;
    }
    .menu-wrap .menu > div >div{
        text-align: center;
        max-width: 100vw;
        max-height: 100vh;
         opacity: 0; 
        transition: opacity 0.4s ease;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-self: center;
    
        
    }

    div.div.darkdiv {
        background-color: rgba(26, 26, 32, 0.618);
        backdrop-filter: blur(20px);
}

    .darkMenuLink {
        text-decoration: none;
        color:var( --Maize);
        font-size: 5rem;
        font-weight:800;
        font-weight: bold;
        backdrop-filter: blur(30px);
    }
    
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: var(--Maize);
        font-size: 1rem;
        padding: .5rem;
        font-weight: 800;
        font-style: bold;
    }

    
    
    
}