.card {
  background-color: var(--Ultra-Glass-White);
  backdrop-filter: blur(11px);
  height: 70vh;
  width: 15vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  transition: 1s;

  font-family: 'Sen', sans-serif;
}

.card:hover {
  transform: scale(1.1) translateY(-10px);
  
  background-color: var(--Glass-White);
  transition: 1s;

}

.cardDark {
    background-color: var(--Glass-Grayish-blue);
}

.cardDark:hover {
    transform: scale(1.1) translateY(-10px);
    background-color: var(--Grayish-blue);
    transition: 1s;
}

@media screen and (max-width: 768px) {
    .card {
      background-color: var(--Ultra-Glass-White);
      backdrop-filter: blur(11px);
      max-width: 90%;
      width: 400px;
      height: auto;
      margin: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      padding: 30px;
    }
    .card:hover {
      transform: scale(1.2);
      margin: 20px;
      background-color: var(--Glass-White);
      transition: 1s ease;
    
    }

    .cardDark {
        background-color: var(--Glass-Grayish-blue);
        backdrop-filter: blur(11px);
        max-width: 90%;
        width: 400px;
        height: auto;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 30px;
}
.cardDark:hover {
    transform: scale(1.2);
    margin: 20px;
    background-color: var(--Grayish-blue);
    transition: 1s ease;
}
}