 html {
    height:100%;
    background-color:var(--Aquamarine);
    display: flex;
} 

body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
}



 .HomeMainBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width:  100% ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.provaimg {
    display: none;
    position: fixed;
    top: 0;
    right: 0rem;
    width: 100px;
    height: 100px;
}

.opentusk {
    width: auto;
    background-color: var(--Glass-OT-WHITE);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}


.puglia {
    position: fixed;
    top: 1rem;
    right: 0rem;
    padding: 1rem 3rem 1rem 1rem;
    background-color: var(--Glass-OT-WHITE);
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
    .opentusk {
        width: 90vw;
    }
    
}


