.HomeMainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #a4ff2c;
    font-family: 'Roboto', sans-serif;
    margin: 6% 4% 10% 4%;
}

.h1Home {
    font-size: 3rem;
    color: #000;
    background-color: violet;
}