@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


.marmelad-regular {
  font-family: "Marmelad", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}


:root{
  --White: #ffffff;
  --Amethyst: #9b5de5ff;
  --Brilliant-rose: #f15bb5ff;
  --Maize: #fee440ff;
  --Deep-sky-blue: #00bbf9ff;
  --Aquamarine: #00f5d4ff;
  --Light-green: #C6ECAE; 
  --Grayish-blue: #777DA7;
  --Coral-red: #FE5F55; 
  --Deep-blue: #004e81;
  --text-4-light: #170c4b;

  --Glass-White: #ffffff60;
  --Ultra-Glass-White: #ffffff18;
  --Glass-Amethyst: #9a5de55e;
  --Glass-Brilliant-rose: #f15bb55b;
 : #fee54056;
  --Glass-Deep-sky-blue: #00bbf94f;
  --Glass-Aquamarine: #00f5d459;
  --Glass-Light-green: #c6ecae59;
  --Glass-Grayish-blue: #3e40555d;
  --Glass-Coral-red: #fe605552;

  --menu-speed: 0.75s;
}